@include block(normal-modal) {
	display: none;
	width: 45%;
	max-width: 400px;

	position: fixed;
	z-index: 100;
	top: 20px;
	left: calc(50% - 22.25%);

	background-color: #fff;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
	border: solid 1px #e2e2e2;

	@include destop(1111px) {
		left: calc(50% - 400px / 2);
	}

	padding: spacing(small);
	
	&[aria-hidden="false"] {
		display: block;
	}

	@include element(close) {
		float: right;

		border: 0;
		outline: none;

		cursor: pointer;

		background-color: transparent;
	}

	@include element(content) {
		margin-top: spacing(2);
		margin-bottom: spacing(2);

		> p:first-child {
			margin-top: 0;
		}
	}

	@include element(title) {
		margin: 0;
		margin-bottom: spacing(5);

		font-size: 1.5rem;
		text-align: center;
	}

	@include element(footer) {
		padding-top: spacing(2);
		border-top: 1px solid #aaa;
	}
} 
