<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign up</title>
	<link rel="stylesheet" href="../dist/stylesheets/style.css">
</head>
<body scope="company_signup">
	<nav class="landing_navbar">
		<a class="landing_navbar__logo" href="">sudo PRO</a>
	  <ul class="landing_navbar__list">
			<li>回 Sudo 找工作</li>
			<li>申請招募帳號</li>
			<li>登入</li>
		</ul>
	</nav>

	<div layout="container w-30">
	  <form action="" class="form-fields">
	  <fieldset class="company_signup__form">
		  <legend class="company_signup__form">申請招募帳號</legend>
		  <label class="company_signup__group" for="companyName">
		  	<span class="input-label">公司登記名稱</span>
		  	<input id="companyName" autofocus placeholder="請填寫公司登記名稱..." class="u_input-full-width" type="text">
		  	<div class="company_signup__notice">
		  		<p>請注意，此欄位並非產品、服務或對外使用之品牌名稱，請填寫公司設立的登記名，企業徵才的顯示名稱可於帳號開通後自行修改。</p>
		  	</div>
		  </label>
		  <label class="company_signup__group" for="taxID">
		  	<span class="input-label">公司統一編號</span>
		  	<input id="taxID" placeholder="請填寫公司統一編號以便查證..." class="u_input-full-width" type="text">
		  	<div class="company_signup__notice">
		  		<p>請注意，此欄位並非產品、服務或對外使用之品牌名稱，請填寫公司設立的登記名，企業徵才的顯示名稱可於帳號開通後自行修改。</p>
		  	</div>
		  </label>
		  <label class="company_signup__group" for="companyAddress">
		  	<span class="input-label">公司聯絡地址</span>
		  	<input id="companyAddress" placeholder="請填寫公司通訊地址..." class="u_input-full-width" type="text">
		  	<div class="company_signup__notice">
		  		<p>請注意，此欄位並非產品、服務或對外使用之品牌名稱，請填寫<strong>公司設立的登記名</strong>，企業徵才的顯示名稱可於帳號開通後自行修改。</p>
		  	</div>
		  </label>
		  <label class="company_signup__group" for="contactName">
		  	<span class="input-label">連絡人姓名</span>
		  	<input id="contactName" placeholder="請填寫公司聯絡窗口..." class="u_input-full-width" type="text">
		  	<div class="company_signup__notice">
		  		<p>請注意，此欄位並非產品、服務或對外使用之品牌名稱，請填寫<strong>公司設立的登記名</strong>，企業徵才的顯示名稱可於帳號開通後自行修改。</p>
		  	</div>
		  </label>
		  <label class="company_signup__group" for="contactPhone">
		  	<span class="input-label">聯絡人電話</span>
		  	<input id="contactPhone" autocomplete="phone" placeholder="請填寫公司聯絡窗口電話以便連繫..." class="u_input-full-width" type="tel">
		  	<div class="company_signup__notice">
		  		<p>請注意，此欄位並非產品、服務或對外使用之品牌名稱，請填寫<strong>公司設立的登記名</strong>，企業徵才的顯示名稱可於帳號開通後自行修改。</p>
		  	</div>
		  </label>
		  <label class="company_signup__group" for="officalSite">
		  	<span class="input-label">公司網站</span>
		  	<input id="officalSite" class="u_input-full-width" type="text">
		  	<div class="company_signup__notice">
		  		<p>請注意，此欄位並非產品、服務或對外使用之品牌名稱，請填寫<strong>公司設立的登記名</strong>，企業徵才的顯示名稱可於帳號開通後自行修改。</p>
		  	</div>
		  </label>
	  </fieldset>
	  <button class="btn-shadowed btn-full-width" value="申請招募帳號">申請招募帳號</button>
	  </form>
	</div>
</body>
</html>