<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../dist/stylesheets/style.css">
</head>
<body scope="company_dashboard">
	<nav class="landing_navbar">
		<a tabindex="0" class="landing_navbar__logo" href=""><img src="../src/images/sudo-pro@2x.png" alt="Sudo Logo"></a>
	  <ul class="landing_navbar__list">
			<li tabindex="0">回 Sudo 找工作</li>
			<li tabindex="0">申請招募帳號</li>
			<li tabindex="0"><a data-trigger="signInModal" role="button" aria-haspopup="true" aria-expended="false">登入</a></li>
		</ul>
	</nav>
	<menu class="info-menu">
		<div class="info-menu__chart">
			<h4>工作吸引力</h4>
		  <svg width="100" height="100">
		  	<circle r="50" cx="50" cy="50" fill="#27cc95"></circle>
		  	<circle	r="35" cx="50" cy="50" fill="#fff"></circle>
		  </svg>
		  <p>投遞履歷的人數佔瀏覽量的 27% </p>
		</div>
		<div class="info-menu__chart">
			<h4>無聲卡率</h4>
			<svg width="100" height="100">
		  	<circle r="50" cx="50" cy="50" fill="#fe6565"></circle>
		  	<circle	r="35" cx="50" cy="50" fill="#fff"></circle>
		  </svg>	
		  <p>投遞履歷中有 68% 的人在 14 天內沒收到您的回覆。</p>
		</div>
	</menu>

	<main class="dashboard-maincontent page-left-offset">
		<div layout="container w-70">
		  <div class="dashboard__recruit">
		  	<h3>快速招募</h3>
		  	<p>只要完成以下三個項目，開始招募人才。</p>
		  	<div class="card_container">
		  	  <div class="card_panel">
		  	    <img src="../src/images/setting@2x.png" alt="" class="card_panel__image">
		  	    <h3 class="card_panel__title">設定招募帳號</h3>
		  	  </div>
		  	  <div class="card_panel">
		  	    <img src="../src/images/info@2x.png" alt="" class="card_panel__image">
		  	    <h3 class="card_panel__title">編輯公司資訊</h3>
		  	  </div>
		  	  <div class="card_panel">
		  	    <img src="../src/images/hiring@2x.png" alt="" class="card_panel__image">
		  	    <h3 class="card_panel__title">新增工作機會</h3>
		  	  </div>
		  	</div>
		  </div>
		  <div class="dashboard__other">
		  	<h3>其他功能</h3>
		  	<div class="card_container">
			  	<div class="card_panel">
			  	  <img src="../src/images/setting@2x.png" alt="" class="card_panel__image">
			  	  <h3 class="card_panel__title">
			  	  	個人帳號設定
			  	  </h3>
			  	</div>
		  	</div>
		  </div>
		</div>
	</main>
</body>
</html>