[layout*="container"] {
	width: 90%;
	max-width: 1080px;

	margin: 0 auto;
}

.page-top-offset {
	padding-top: $landingNavHeight;
}

.page-left-offset {
	padding-left: $menuWidth;
}

@for $i from 1 through 100 {
  [layout*="w-#{$i}"],
  .w-#{$i} {
  	width: unquote($i + "%");
  }
}